html, body { margin:0; padding:0 }
body { width:380px;min-height:450px;padding:10px;font-family:"Trebuchet MS",Arial,sans-serif }
body a, body a:active, body a:visited, body a:focus { text-decoration:none;color:rgb(17, 85, 204) }
body a:hover { text-decoration:underline }
body input:focus { outline: none }
body, table { font-size:13px;font-style:normal;font-variant:normal;font-weight:normal }
input[type=text], input[type=number], input[type=email], select { margin: 1px 0;padding: 5px;height: 29px;outline: 0;border: 1px solid #aaa;box-shadow: none;color: #666;font-family: sans-serif;line-height: normal;border-radius: 3px;overflow: hidden;vertical-align: middle;cursor: text;font-size: 13px;
	-webkit-box-sizing: border-box;box-sizing: border-box;background-color: #fff;background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));background-image: -webkit-linear-gradient(#eee 1%,#fff 15%) }
input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, select:focus { border: 1px solid #5897fb;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);box-shadow: 0 0 5px rgba(0,0,0,.3) }
.btn { line-height: .7em;border: 1px solid #9c9c9c;padding: 10px;margin: 0;cursor: pointer;text-align: center;display: inline-block;text-transform: uppercase;color: #666;text-shadow: 0 1px 1px #fff;overflow: visible;text-decoration: none;background-color: #efefef;border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);background-image: -webkit-linear-gradient(top,#f4f4f4 0%,#dbdbdb) }
.btn:hover { text-decoration: none!important;background-image: -webkit-linear-gradient(top,#f7f7f7 0%,#f4f4f4) }
.btn:active { color: #bbb;background-color: #e3e3e3;-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.2);box-shadow: inset 0 2px 0 rgba(0,0,0,.2);background-image: -webkit-linear-gradient(top,#dbdbdb 0%,#f4f4f4) }
label { display:inline-block;width:18%;cursor:pointer }
div, a, button { outline: none }

#headerLeft { display:inline-block;width:66px;margin-right:5px;float:left;font-size:11px }
#headerRight { display:inline-block;width:281px;float:left }
#ui-datepicker-div { margin:5px -18px }
.template { display:none }
.headerDiv { width:100%;margin-bottom:6px }
.headerDiv > .hasDatepicker, .headerDiv .select2-container { width: 78% }
.select2-container-multi .select2-choices { border-radius:3px;overflow-y:scroll;max-height:80px }
.select2-container-multi.select2-container-active .select2-choices { border-radius:3px 3px 0 0 }
.select2-hidden-accessible {display: none;}
#divAvancada .select2-container-multi .select2-choices .select2-search-field {width: 100% !important}
#avancada { font-size:10px;width:42px;float:right;margin:8px 5px 0 0;text-decoration:none;color:black;outline: none; }
#avancada:hover { text-decoration:underline;cursor: pointer; }
#avancada:focus { color: black }
#help, #download, #donation { float:right;margin:11px 8px 0 0;cursor:help }
#download, #donation { cursor:pointer }
#divAvancada { display: block !important }
#divAvancada.ng-hide { display: none !important }
#divAvancada .select2-container .select2-choice { height:30px;padding:0 0 0 7px;border-radius:3px;line-height:31px }
#divAvancada .select2-container .select2-choice .select2-arrow { border-radius:0 3px 3px 0 }
#divAvancada .select2-container-multi .select2-choices { max-height:31px }
.select2-drop { margin-top:-2px }
.select2-results { max-height:140px }
#btnBuscar, #btnParar { float:right;margin-right:2%;color:black;outline:none }
.tipsy { font-size:12px }
.tipsy-inner { background-color:#000;max-width:220px;text-align:left }
.showResults { float:right;font-size:12px;margin-right:12px;color:rgb(17, 85, 204) }
.showResults:hover {cursor: pointer;}
#msgLoading { display:none;width: 100%;margin-right:4px;font-size:13px;text-decoration:none;float:right }
#msgError { display:none;width:100%;margin-right:4px;font-size:13px;text-decoration:none;color:red }
#sugestao { margin:17px 0 0 -5px}
#sugestao span { line-height:16px;vertical-align:top}
#results { width:100%;margin:0;display:inline-block;padding:0;overflow:hidden }
#results li { width:100%;border-top:1px dashed #ccc;margin-top:10px;padding-top:5px;list-style:none;display:inline-block }
#results table { font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:11px;margin:0;width:100%;text-align:left;border-collapse:collapse }
#results table th { font-size:12px;font-weight:normal;padding:3px 0px;color:#171A20 }
#results table td { padding:2px 3px;color:rgba(51, 51, 51, 0.9)}
#results table .odd, #results .divResultsExpanded table tbody tr:nth-child(even) { background: #F5F5F5 }

.divResultsExpanded { display: block !important }
.divResultsExpanded.ng-hide { display: none !important }
#loading { display: block !important;margin-left: 120px }
#loading.ng-hide { display: none !important }

.ui-datepicker { width: 100%;padding: 0;border-radius: 3px;border: 1px solid #aaa }
.ui-datepicker .ui-datepicker-header { padding: 0;border-radius: 5px }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { top: 0px;height: 1.6em;border: none }
.ui-datepicker .ui-datepicker-title { font-size: .9em }
.ui-datepicker th { font-size: .85em }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{ font-weight: normal;color: rgba(68, 68, 68, 0.83);background: transparent }
.ui-datepicker .ui-datepicker-next-hover { right: 2px }
.ui-datepicker .ui-datepicker-prev-hover { left: 2px }
.ui-datepicker-calendar td { border: none }
.ui-datepicker tr:first-child td { padding-top: .4em }
.ui-datepicker tr td:first-child { padding-left: .2em }
.ui-datepicker tr td:last-child { padding-right: .2em }
table.ui-datepicker-calendar { border-collapse: collapse;border-spacing: 1px }

.has-error, .has-error ul { border-color: rgba(255, 111, 111, 1) !important;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {pointer-events: none;cursor: not-allowed;opacity: .65;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;}
input[type=radio] { margin-right: 0}

body { font-size: 12px }
input[type=text], input[type=number], input[type=email], select { height: 27px }
.headerDiv { margin-bottom: 5px }
td.ui-datepicker td span, td.ui-datepicker-unselectable span, .ui-datepicker td a { padding: .1em }
.ui-datepicker .ui-datepicker-buttonpane { margin-top: .4em }
.ui-datepicker .ui-datepicker-buttonpane button { margin-top: .2em;margin-bottom: .2em }

#email { width: 70% }
#priceEmail { width: 26% }
#avancada { margin-top: 6px; line-height: 12px }
.message { margin-right: 2% }