<!doctype html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<title>Busca de passagens - melhores preços!</title>
  		<base target="_blank">

		<link rel="stylesheet" href="../../css/jquery.ui.theme.min.css" />
		<link rel="stylesheet" href="../../css/jquery.ui.datepicker.min.css" />
		<link rel="stylesheet" href="../../css/jquery.ui.core.min.css" />
		<link rel="stylesheet" href="../../css/select2.css" />
		<link rel="stylesheet" href="../../css/tipsy.css" />
		<link rel="stylesheet" href="../../css/angular-csp.css" />
		<link rel="stylesheet" href="popup.css" />
		
  		<script src="../../js/jquery-2.0.3.min.js"></script>
		<script src="../../js/jquery-ui.min.js"></script>
  		<script src="../../js/jquery-ui.multidatespicker.js"></script>
  		<script src="../../js/jquery.tipsy.js"></script>
  		<script src="../../js/select2.min.js"></script>
  		<script src="../../js/select2_locale_pt-BR.js"></script>
  		<script src="../../js/airlinesCompanies.js"></script>
  		<script src="../../js/allAirports.js"></script>
  		<script src="../../js/angular.min.js"></script>
  		<script src="../../js/angular-select2.js"></script>
  		<script src="save.js"></script>
  		<script src="popup.js"></script>
	</head>
	<body ng-app="app" ng-controller="AngularController">
		<div id="header" style="display:block">
			<form name="form">
				<div class="headerDiv">
					<label class="help" title="{{ help.origins }}">De</label>
					<div ui-select2="select2AirportsOptions" ng-model="origins" name="origins" data-placeholder="De onde você prefere sair?" tabindex="2" ng-class="{ 'has-error': form.origins.$dirty && form.origins.$invalid }" required>
					</div>
				</div>

				<div class="headerDiv">
	  				<label class="help" title="{{ help.destinations }}">Para</label>
					<div ui-select2="select2AirportsOptions" ng-model="destinations" name="destinations" data-placeholder="Para onde você quer ir?" tabindex="3" ng-class="{ 'has-error': form.destinations.$dirty && form.destinations.$invalid || (origins.length == 1 && destinations.length == 1 && origins[0].id == destinations[0].id) }" required>
					</div>
				</div>

				<div class="headerDiv">
					<label class="help" title="{{ help.days }}">Duração</label>
					<select ui-select2 multiple ng-model="qtyDays" name="qtyDays" data-placeholder="Quantos dias de viagem?" tabindex="4" ng-class="{ 'has-error': form.qtyDays.$dirty && form.qtyDays.$invalid }" required>
						<option value="0">Somente vôos de ida</option>
						<option value="1">1 dia</option>
						<option ng-repeat="day in days" value="{{ day.id }}">{{ day.text }}</option>
					</select>
				</div>

				<div class="headerDiv">
					<label class="help" title="{{ help.departure }}">Ida(s)</label>
					<div multipick ng-model="departureDates" name="departureDates" style="display:inline-block" tabindex="5">
					</div>
				</div>
					
                <div class="headerDiv">
                    <label class="help" title="{{ help.departure }}">Site</label>
                    <select ui-select2 ng-model="store" style="width:298px">
                        <option ng-repeat="item in stores" value="{{ item.store }}">{{ item.name }}</option>
                    </select>
                </div>

				<div id="divAvancada" class="headerDiv" ng-show="showAdvancedOptions">
					<div class="headerDiv">
						<label class="help" title="{{ help.company }}">Companhias</label>
						<select ui-select2 multiple ng-model="companies" data-placeholder="Selecione as companhias">
							<option ng-repeat="company in airlinesCompanies" value="{{ company.id }}">{{ company.text }}</option>
						</select>
					</div>

					<div class="headerDiv">
						<label>Adultos</label>
						<select ui-select2 ng-model="adults" style="width:13%;">
							<option value="0">0</option>
							<option value="1" selected="selected">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						
						<label style="width:16%;margin-left:4%">Crianças</label>
						<select ui-select2 ng-model="children" style="width:13%">
							<option value="0" selected="selected">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>

						<label style="width:11%;margin-left:4%">Bebês</label>
						<select ui-select2 ng-model="babies" style="width:13%;">
							<option value="0" selected="selected">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					
					<div class="headerDiv">
						<label style="width: auto;">Enviar email para {{ email ? email : '...' }} se achar preço menor que {{ priceEmail ? priceEmail : '...' }} reais:</label>
					</div>
					<div class="headerDiv">
                        <label> </label>
                        <input type="email" ng-model="email" name="email" placeholder="Email" ngMinlength="10" ngMaxlength="100" ng-class="{ 'has-error': form.email.$dirty && form.email.$invalid }" id="email" />
						<input type="number" ng-model="priceEmail" name="priceEmail" placeholder="Preço" min="1" max="9999" ngMaxlength="4" ng-class="{ 'has-error': form.priceEmail.$dirty && form.priceEmail.$invalid }" id="priceEmail" />
					</div>
				</div>
			</form>

			<div class="headerDiv" style="height:33px">
				<span ng-click="search()" id="btnBuscar" class="btn" tabindex="1" ng-disabled="form.$invalid">Buscar</span>
				<span ng-click="stop()" id="btnParar" class="btn" ng-disabled="disableStop()">Parar</span>
				<span ng-click="showAdvancedOptions = !showAdvancedOptions" id="avancada" tabindex="8">Busca avançada</span>
				<span title="{{ help.main }}" id="help" class="help" tabindex="-1">
					<img src="../../images/help.png" />
				</span>
				<span title="{{ help.donation }}" id="donation" tabindex="7">
					<a href="http://novo.vakinha.com.br/vaquinha/passagens-mais-baratas-pra-todos">
                        <img src="../../images/donation.png" />
                    </a>
				</span>
				<span ng-click="saveAsFile(results)" ng-show="numberOfFligths > 0" title="{{ help.download }}" id="download" tabindex="6">
					<img src="../../images/download.png" />
				</span>
			</div>
			
			<div class="headerDiv" style="margin:0;text-align:right">
				<span ng-show="numberOfFlights > 0" class="message">
					{{ numberOfFlights == 1 ? "1 vôo encontrado" : numberOfFlights + " vôos encontrados" }}
				</span>
				<span ng-show="showMessageError" class="message">
					Favor corrigir campos incorretos
				</span>
			</div>
		</div>

		<ul id="results" ng-show="numberOfFlights > 0">
			<li ng-repeat="result in results">
				<table>
					<tr>
						<th colspan="3">
							{{ result.key }} - Melhores Resultados
						</th>
					</tr>
					<tr class="odd">
						<td>Direto</td>
						<td>{{ print(result.best[0].price, result.best[0].date) }}</td>
						<td>
							<a ng-href="{{ result.best[0].url }}">
								{{ print(result.best[0].price) }}
							</a>
						</td>
					</tr>
					<tr>
						<td>1 parada</td>
						<td>{{ print(result.best[1].price, result.best[1].date) }}</td>
						<td>
							<a ng-href="{{ result.best[1].url }}">
								{{ print(result.best[1].price) }}
							</a>
						</td>
					</tr>
					<tr class="odd">
						<td>2+ paradas</td>
						<td>{{ print(result.best[2].price, result.best[2].date) }}</td>
						<td>
							<a ng-href="{{ result.best[2].url }}">
								{{ print(result.best[2].price) }}
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="3" style="padding:0;">
							<span ng-click="openResults[result.key] = !openResults[result.key]" class="showResults">
								{{ openResults[result.key] ? "Resumir Resultados" : "Ampliar Resultados" }}
							</span>
							<div class="divResultsExpanded" ng-show="openResults[result.key]">
								<table class="tableResultsByDates">
									<thead>
										<tr>
											<th>Dias</th>
											<th>Direto</th>
											<th>1 parada</th>
											<th>2+ paradas</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="byDates in result.all">
											<td>{{ byDates.date }}</td>
											<td>
												<a ng-href="{{ byDates.url }}">
													{{ print(byDates.prices[0]) }}
												</a>
											</td>
											<td>
												<a ng-href="{{ byDates.url }}">
													{{ print(byDates.prices[1]) }}
												</a>
											</td>
											<td>
												<a ng-href="{{ byDates.url }}">
													{{ print(byDates.prices[2]) }}
												</a>
											</td>
										</tr>
									</tbody>
								</table>

                                <!-- searchedStore == 4 is ITA Software -->
								<table ng-if="searchedStore != 4" class="tableResultsByCompanies" style="margin-top:5px">
									<thead>
										<tr>
											<th>Companhias</th>
											<th>Direto</th>
											<th>1 parada</th>
											<th>2+ paradas</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="byCompanies in result.bestByCompany | toArray | orderBy: orderCompaniesByPrices"
											bestPrice="{{ byCompanies[0].bestPrice }}" code="{{ byCompanies[0].code }}">
											<td>{{ byCompanies.$key }}</td>
											<td>
												<a ng-href="{{ byCompanies[0].url }}">
													{{ print(byCompanies[0].price) }}
												</a>
											</td>
											<td>
												<a ng-href="{{ byCompanies[1].url }}">
													{{ print(byCompanies[1].price) }}
												</a>
											</td>
											<td>
												<a ng-href="{{ byCompanies[2].url }}">
													{{ print(byCompanies[2].price) }}
												</a>
											</td>
										</tr>
									</tbody>
								</table>
                                
                                <!-- searchedStore == 4 is ITA Software -->
								<table ng-if="searchedStore == 4" class="tableResultsByCompanies" style="margin-top:5px">
									<thead>
										<tr>
											<th>Companhias</th>
											<th>Melhor preço no mês da pesquisa</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="byCompanies in result.bestByCompany | toArray | orderBy: orderCompaniesByPrices"
											bestPrice="{{ byCompanies[0].bestPrice }}" code="{{ byCompanies[0].code }}">
											<td>{{ byCompanies.$key }}</td>
											<td>
												<a ng-href="{{ byCompanies[0].url }}">
													{{ print(byCompanies[0].price) }}
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</li>
		</ul>

		<img id="loading" ng-show="showLoading" src="../../images/loading.gif">
	</body>
</html>