<tabset vertical="true" type="pills">
	<tab heading="{{ ::labels.returns }}" tooltip="{{ ::tooltips.returns }}">
		<div class="col-xs-10">
			<datepicker multi-select="vm.model.returns" ng-model="vm.activeReturn" init-date="vm.initDateReturn" select-range="{{ vm.returnsRange }}" min-date="vm.minDeparture" id="returns" name="returns" class="datepicker"></datepicker>
			<label class="pull-right small secondary" tooltip="{{ ::tooltips.range }}" tooltip-placement="left">
				<input type="checkbox" ng-model="vm.returnsRange" />
				<span class="checkbox-material"><span class="check"></span></span> {{ ::labels.range }}
			</label>
		</div>
	</tab>
	<tab heading="{{ ::labels.qtyDays }}" tooltip="{{ ::tooltips.qtyDays }}" active="vm.showQtyDays" select="vm.broadcast('focusQtyDays')">
		<div class="col-xs-10" style="margin-top: 28px;">
			<ui-select multiple ng-model="vm.model.qtyDays" focus-on="focusQtyDays" on-select="vm.broadcast('focusQtyDays')" id="qtyDays" name="qtyDays" required>
				<ui-select-match placeholder="{{ ::placeholders.qtyDays }}">{{ $item.text }}</ui-select-match>
				<ui-select-choices repeat="item.id as item in vm.days | filter: $select.search">
					<div ng-bind-html="item.text | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</tab>
</tabset>
