<div class="col-xs-12">
	<form name="form" class="form-horizontal">
		<div class="form-group" ng-class="{ 'has-error': form.origins.$dirty && vm.model.origins.length === 0 }">
			<label for="origins" class="col-xs-2 control-label" tooltip="{{ ::tooltips.origins }}">{{ ::labels.origins }}</label>
			<div class="col-xs-10">
				<ui-select multiple ng-model="vm.model.origins" id="origins" name="origins" autofocus required focus-on="focusOrigins" on-select="vm.broadcast('focusOrigins')">
					<ui-select-match placeholder="{{ ::placeholders.origins }}">
						{{ $item | airport : vm.airportsById }}
					</ui-select-match>
					<ui-select-choices repeat="item.id as item in vm.airports | filter : $select.search | limitTo : 30" group-by="'country'">
						<span ng-bind-html="item.text | highlight: $select.search"></span>
						<small class="ui-select-small">
							<span ng-bind-html="item.text2 | highlight: $select.search"></span>
							(<span ng-bind-html="item.id | highlight: $select.search"></span>)
						</small>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': form.destinations.$dirty && (vm.model.destinations.length === 0 || (vm.model.origins.length === 1 && vm.model.destinations.length === 1 && vm.model.origins[0] === vm.model.destinations[0])) }">
			<label for="destinations" class="col-xs-2 control-label" tooltip="{{ ::tooltips.destinations }}">{{ ::labels.destinations }}</label>
			<div class="col-xs-10">
				<ui-select multiple ng-model="vm.model.destinations" id="destinations" name="destinations" required focus-on="focusDestinations" on-select="vm.broadcast('focusDestinations')">
					<ui-select-match placeholder="{{ ::placeholders.destinations }}">
						{{ $item | airport : vm.airportsById }}
					</ui-select-match>
					<ui-select-choices repeat="item.id as item in vm.airports | filter : $select.search | limitTo : 30" group-by="'country'">
						<span ng-bind-html="item.text | highlight: $select.search"></span>
						<small class="ui-select-small">
							<span ng-bind-html="item.text2 | highlight: $select.search"></span>
							(<span ng-bind-html="item.id | highlight: $select.search"></span>)
						</small>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<!--
            workaround to two gm.datepickerMultiSelect work on same page
            https://github.com/spongessuck/gm.datepickerMultiSelect/issues/14
        -->
		<div class="form-group" ng-include="'popup.departures.html'"></div>
		<div class="form-group" ng-include="'popup.returns.html'"></div>

		<div class="form-group">
			<label for="site" class="col-xs-2 control-label" tooltip="{{ ::tooltips.site }}">{{ ::labels.site }}</label>
			<div class="col-xs-10 form-single-select">
				<ui-select ng-model="vm.model.site" id="site" name="site" required>
					<ui-select-match placeholder="{{ ::placeholders.site }}">{{ $select.selected.text }}</ui-select-match>
					<ui-select-choices repeat="item.id as item in vm.sites | filter: $select.search">
						<div ng-bind-html="item.text | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="form-group" ng-show="vm.savedSearches.length > 1">
			<label for="savedSearch" class="col-xs-2 control-label" tooltip="{{ ::tooltips.history }}">{{ ::labels.history }}</label>
			<div class="col-xs-10">
				<ui-select ng-model="vm.model.savedSearch" id="savedSearch" name="savedSearch" on-select="vm.updateForm($select.selected, $model)">
					<ui-select-match placeholder="{{ ::placeholders.history }}">{{ $select.selected | savedSearch }}</ui-select-match>
					<ui-select-choices repeat="item in vm.savedSearches | filter: $select.search">
						{{ $index + 1 }}- {{ item | savedSearch }}
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-10 col-xs-offset-2">
				<label class="pull-right small secondary">
					<input type="checkbox" ng-model="vm.showSendEmailLowFares" />
					<span class="checkbox-material"><span class="check"></span></span> {{ ::labels.sendEmailLowFares }}
				</label>
				<label class="pull-right small secondary">
					<input type="checkbox" ng-model="vm.showPassengers" />
					<span class="checkbox-material"><span class="check"></span></span> {{ ::labels.changePassengers }}
				</label>
			</div>
		</div>

		<div class="form-group" ng-show="vm.showSendEmailLowFares" ng-class="{ 'has-error': form.email.$dirty && form.email.$invalid }">
			<label for="email" class="col-xs-2 control-label">{{ ::labels.email }}</label>
			<div class="col-xs-10" ng-show="vm.showSendEmailLowFares">
				<input type="email" ng-model="vm.model.email" id="email" name="email" class="form-control" placeholder="{{ ::placeholders.email }}" ngMinlength="10" ngMaxlength="100" />
			</div>
		</div>

		<div class="form-group" ng-show="vm.showSendEmailLowFares" ng-class="{ 'has-error': form.priceEmail.$dirty && form.priceEmail.$invalid }">
			<label for="priceEmail" class="col-xs-2 control-label">{{ ::labels.priceEmail }}</label>
			<div class="col-xs-10">
				<input type="number" ng-model="vm.model.priceEmail" id="priceEmail" name="priceEmail" class="form-control" placeholder="{{ ::placeholders.priceEmail }}" min="1" max="1000000" ngMaxlength="4" />
			</div>
			<div class="col-xs-10 col-xs-offset-2" ng-if="vm.showSendEmailLowFares && form.email.$dirty && !form.email.$invalid && form.priceEmail.$dirty && !form.priceEmail.$invalid && vm.model.email && vm.model.priceEmail">
				<label class="small secondary" ng-bind-html="messages.sendEmailLowFares | replace : 'EMAIL' : vm.model.email | replace : 'PRICE_EMAIL' : vm.model.priceEmail">
				</label>
			</div>
		</div>

		<div class="form-group" ng-show="vm.showPassengers" ng-class="{ 'has-error': vm.model.adults == 0 && vm.model.children == 0 && vm.model.infants == 0 }">
			<label for="adults" class="col-xs-2 control-label">{{ ::labels.adults }}</label>
			<div class="col-xs-2 form-single-select">
				<ui-select ng-model="vm.model.adults" id="adults" name="adults">
					<ui-select-match placeholder="{{ ::vm.adults }}">{{ $select.selected }}</ui-select-match>
					<ui-select-choices repeat="item in [0, 1, 2, 3, 4, 5]">{{ item }}</ui-select-choices>
				</ui-select>
			</div>

			<label for="children" class="col-xs-2 control-label">{{ ::labels.children }}</label>
			<div class="col-xs-2 form-single-select">
				<ui-select ng-model="vm.model.children" id="children" name="children">
					<ui-select-match placeholder="{{ ::vm.children }}">{{ $select.selected }}</ui-select-match>
					<ui-select-choices repeat="item in [0, 1, 2, 3, 4, 5]">{{ item }}</ui-select-choices>
				</ui-select>
			</div>

			<label for="infants" class="col-xs-2 control-label">{{ ::labels.infants }}</label>
			<div class="col-xs-2 form-single-select">
				<ui-select ng-model="vm.model.infants" id="infants" name="infants">
					<ui-select-match placeholder="{{ ::vm.infants }}">{{ $select.selected }}</ui-select-match>
					<ui-select-choices repeat="item in [0, 1, 2, 3, 4, 5]">{{ item }}</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div>
			<a href="" class="btn btn-primary btn-sm pull-right" ng-click="vm.start()" ng-disabled="form.$invalid" style="text-transform:uppercase">{{ ::labels.start }}</a>
			<a href="" class="btn btn-default btn-sm pull-right" ng-click="vm.stop()" ng-disabled="vm.initialNumberOfFlights <= vm.gridOptions.data.length" style="text-transform:uppercase;margin:0 5px 0 0;">{{ ::labels.stop }}</a>
			<a href="http://novo.vakinha.com.br/vaquinha/passagens-mais-baratas-pra-todos" class="pull-right form-icon" tooltip="{{ ::tooltips.donation }}" tooltip-placement="top">
				<i class="mdi-editor-attach-money"></i>
			</a>
			<a href="" class="pull-right form-icon" ng-click="vm.deleteHistory()" tooltip="{{ ::tooltips.deleteHistory }}" tooltip-placement="top">
				<i class="mdi-action-delete"></i>
			</a>
			<a href="" class="pull-right form-icon" tooltip-html="tooltips.main" tooltip-placement="top">
				<i class="mdi-action-info-outline"></i>
			</a>
		</div>
	</form>
</div>
